table td {
    border: 1px solid #eee;
}
.level1 td:first-child {
    padding-left: 15px;
}
.level2 td:first-child {
    padding-left: 30px;
}

.collapse .toggle {
    background: url("../images/collapse.gif");
}
.expand .toggle {
    background: url("../images/expand.gif");
}
.toggle {
    height: 9px;
    width: 9px;
    display: inline-block;   
}