table {
    border: 0.5px solid grey;
}
td {
	width: 1px;
	white-space: nowrap;
	border: 0.5px solid grey;
}
.level1 td:first-child {
    padding-left: 15px;
}
.level2 td:first-child {
    padding-left: 30px;
}
.level3 td:first-child {
    padding-left: 45px;
}
.collapse .toggle {
    background: url("../images/collapse.gif");
}
.expand .toggle {
    background: url("../images/expand.gif");
}
.toggle {
    height: 9px;
    width: 9px;
    display: inline-block;
	margin-right: 5px;
}